@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Nova+Slim');

/* Future color pin color:#EAF2E3; 565857 for previous background colour*/

header {

    font-family: 'Nova Slim', cursive;
    font-size:12pt;
    text-align: center;
    background:#44B4AC;
    color:#111111;
    padding:14pt;
    letter-spacing:1pt;

}

body {

    font-family: 'Merriweather Sans', sans-serif;
    font-size:10pt;
    background:#5DD9C1;
    color:#565857;
    letter-spacing: 0.75pt;
    line-height:2;
    margin:16pt;
    
}

main{
    
    width:65%;
    text-align: justify;
}

.headings {

    font-family:'Merriweather', serif;
    font-size:14pt;
    font-weight: bold;
    color:#565857;
    letter-spacing: 1pt;
}




