@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Nova+Slim');

/* Future color pin color:#EAF2E3; 565857 for previous background colour*/

header  {

    font-family: 'Nova Slim', cursive;
    font-size:12pt;
    text-align: center;
    background:#88BB92;
    color:#565857;
    padding:10pt;
    letter-spacing:1pt;

}

body {

    font-family: 'Merriweather Sans', sans-serif;
    font-size:10pt;
    background:#7CF4C4;
    color:#565857;
    letter-spacing: 0.75pt;
    line-height:2;
    
    
}

main,nav,footer,img{
    
    width:65%;
    text-align: justify;
    margin:16pt;
}

.headings {

    font-family:'Merriweather', serif;
    font-size:14pt;
    font-weight: bold;
    color:#565857;
    letter-spacing: 1pt;
}




